:root {
  --verde-destaque: #81fe88;
  --verde-pastel: #bfffc3;
  --verde-petroleo: #132e35;
  --grafite: #01080e;
  --cinza-escuro: #171d1f;
  --cinza: #3e3e3f;
  --cinza-medio: #888888;
  --cinza-claro: #bcbcbc;
  --off-white: #e1e1e1;
  --branco: #ffffff;
  --fonte: 'Prompt', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: var(--grafite);
    font-family: var(--fonte);
}